In [1]:
import pandas as pd
import numpy as np

data_directory = './data'
output_directory = './parsed_data'

pd.set_option('display.max_rows', 500)

In [2]:
df = pd.read_csv(data_directory + '/Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv', dtype = str)
location_df = pd.read_csv(data_directory+'/Pedestrian_Counting_System_-_Sensor_Locations.csv', dtype = str)
location_df = location_df[['sensor_id','latitude','longitude']]

In [3]:
df.head()

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,2887628,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,36,Queen St (West),774

In [4]:
df.head()

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,2887628,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,36,Queen St (West),774

24
29
41
51
62
69

In [5]:
df[df.Sensor_ID == '75']

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
3536260,3532253,"February 01, 2021 12:00:00 AM",2021,February,1,Monday,0,75,Spring St- Flinders St (West),7
3536327,3532320,"February 01, 2021 01:00:00 AM",2021,February,1,Monday,1,75,Spring St- Flinders St (West),12
3536394,3532387,"February 01, 2021 02:00:00 AM",2021,February,1,Monday,2,75,Spring St- Flinders St (West),0
3536462,3532454,"February 01, 2021 03:00:00 AM",2021,February,1,Monday,3,75,Spring St- Flinders St (West),4
3536529,3532521,"February 01, 2021 04:00:00 AM",2021,February,1,Monday,4,75,Spring St- Flinders St (West),2
...,...,...,...,...,...,...,...,...,...,...
4408874,4414345,"July 31, 2022 07:00:00 PM",2022,July,31,Sunday,19,75,Spring St - Flinders St (West),25
4408875,4414346,"July 31, 2022 08:00:00 PM",2022,July,31,Sunday,20,75,Spring St - Flinders St (West),15
4408876,4414347,"July 31, 2022 09:00:00 PM",2022,July,31,Sunday,21,75,Spring St - Flinders St (West),9
4408877,4414348,"July 31, 2022 10:00:00 PM",2022,July,31,Sunday,22,75,Spring St - Flinders St (West),24
4408878,4414349,"July 31, 2022 11:00:00 PM",2022,July,31,Sunday,23,75,Spring St - Flinders St (West),8

In [6]:
exclude = ['75',
           '10',
           '50',
           '46',
           '71',
           '78',
           '51',
           '69'
          ]

df = df[~df.Sensor_ID.isin(exclude)]

exclude = ['Tin Alley-Swanston St (West)'
          ,'Faraday St-Lygon St (West)'
          ,'Monash Rd-Swanston St (West)'
          ,'Grattan St-Swanston St (West'
           ,'Lygon St (West)'
           ,'Lygon St (East)'
           ,'Lincoln-Swanston (W)'
           ,'Pelham St (South)'
           ,'Queensberry St - Errol St (South)'
           ,'Errol St (West)'
           ,'Macaulay Rd (North)'
           ,'Macaulay Rd (North)'
           ,'New Quay'
           ,'Harbour Esplanade - Bike Path'
           ,'Harbour Esplanade - Pedestrian Path'
           ,'Webb Bridge'
           ,'Victoria Point'
           ,'Melbourne Convention Exhibition Centre'
           ,'Flinders Ln -Degraves St (Crossing)'
           ,'QVM-Franklin St (North)'
          ]

df = df[~df.Sensor_Name.isin(exclude)]

In [7]:
df.Date_Time = pd.to_datetime(df.Date_Time)

#Convert the time stamps into unix time
df['unix_time'] = pd.to_datetime(df.Date_Time).astype(np.int64) // 10**9

#Extract the hour form the date column
df['hour'] = pd.to_datetime(df.Date_Time).dt.hour

#Retain the required columns
df = df[['Sensor_ID','Hourly_Counts','unix_time','hour']]

In [8]:
df.groupby('Sensor_ID').sum().reset_index().sort_values('Sensor_ID').head(100)

   Sensor_ID        unix_time     hour
0          1  152002586109600  1185962
1         11  166180631173200  1310349
2         12  163551615760800  1287234
3         13   95741433532800   797080
4         14  159066555246000  1257147
5         15  142097426672400  1130785
6         16   60007521074400   513358
7         17  158463365601600  1250268
8         18  162884394608400  1288625
9         19  116124884629200   878749
10         2  168073684956000  1324790
11        20  117017101663200   885950
12        21  112605004188000   854486
13        22   90435870993600   687788
14        23  114431230188000   866078
15        24  115946914932000   877394
16        25  111955395765600   849206
17        26  117238158612000   887330
18        27  116656336245600   884014
19        28  116278401247200   879870
20        29  112328013834000   848945
21         3  160300300762800  1264827
22        30  112287435465600   847864
23        31  116867183443200   884016
24        32   37994340596400   304139
25        33   70187382129600   544244
26        34   99422052444000   752342
27        35   82746355276800   610784
28        36   97744080456000   728628
29        37  100859752803600   752905
30        38   25642802865600   203132
31        39   99541455123600   746161
32         4  155658834532800  1231228
33        40  100914058418400   753198
34        41   56107392285600   407098
35        42   96858877255200   720890
36        43   95223648754800   710935
37        44   98497159048800   733798
38        45   61013280319200   444910
39        47   68227014888000   496036
40        48   65553366247200   475890
41        49   64244438668800   465888
42         5  163389226348800  1288912
43        52   66647074831200   485758
44        53   91294880742000   676999
45        54   54113881852800   390264
46        55   34062433372800   243984
47        56   55368838497600   399028
48        57   50799260073600   365424
49        58   53720694720000   386400
50        59   48564811483200   348036
51         6  167784577513200  1322559
52        60    3580467904800    26418
53        61   41070705177600   293664
54        62   38268250545600   272412
55        63   33566551934400   238188
56        64   27764210538000   197601
57        65   33780766521600   239568
58        66   31980443112000   226596
59        67   27330006398400   192924
60        68   27330006398400   192924
61         7  135502180099200  1071976
62        70   23778327556800   167532
63        72   22554817848000   158700
64        73    5922759052800    41952
65        76   20350346083200   142968
66        77   17982779630400   126132
67        79   12358616389200    86365
68         8  165611790082800  1305431
69        84    8395972358400    58512
70        85    8395972358400    58512
71        86    7806077697600    54372
72        87    1233530424000     8556
73         9  168012001940400  1324507

In [9]:
#Merge in the lcoation data to get the lon/lat for each sensor
df = df.merge(location_df, how = 'inner', left_on = 'Sensor_ID', right_on = 'sensor_id')
print(df.columns)
#change the column names into a single convention
df.columns = ['sensor_id','count','unix_time','hour','sensor','lat','lon']
df = df[['sensor_id','count','unix_time','hour','lat','lon']]

Index(['Sensor_ID', 'Hourly_Counts', 'unix_time', 'hour', 'sensor_id',
       'latitude', 'longitude'],
      dtype='object')

In [10]:
max_time = max(df.unix_time)
#Calculate the min time as six months back from the amx time
min_time = max_time - (86400 * 100)

#Filter the dataframe to only include observations in the last six months
df = df[df.unix_time > min_time]

In [12]:
df['date'] = pd.to_datetime(df['unix_time'],unit='s')
df = df.sort_values(by = 'date', ascending = False)

df['position'] = df.lon * df.lat
df['month'] = df.date.dt.month
df['day_of_week'] = df.date.dt.dayofweek

df.head()

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
df.to_csv(output_directory+'/data.csv', index = False)

In [13]:
len(df)

136441